@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Wix Madefor Display';
    src: url('/fonts/WixMadeforDisplay-Regular.ttf') format('ttf'),
  }
  

:root{
    --accent-light: #e2e8f0;
    --accent-dark: #cbd4e0;
    --dark-blue: #0e162a;
    --accent: #ff5d4d
}

body{
    overflow-x: hidden;
}

.mask-horizontal{
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) , #000 20%, #000 80%, rgba(0, 0, 0, 0));
}

.text-shadow{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
    background-color: var(--accent-light);
}   
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: 2px solid var(--dark-blue);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--accent-light);
}

*{
    @apply custom-scrollbar;
}

*::selection{
    background-color: var(--accent-light);
}


/* Button Styles */
.button{
    @apply px-4 py-1 rounded-md transition-all duration-300 border-2 border-accent shadow-[3px_3px_0px_black] hover:shadow-none hover:!translate-x-[3px] hover:!translate-y-[3px]
}

.heading{
    @apply text-6xl max-sm:text-3xl max-lg:text-4xl font-bold font-wix;
}

/* Hide Scrollbar */
.scroll-snap-x {
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none !important; 
    scrollbar-width: none !important; 
  }
  
  .scroll-snap-x::-webkit-scrollbar {
    display: none !important; 
  }

  /* Text Stroke */
  .text-stroke{
    -webkit-text-stroke: 0.2px var(--accent-light);
  }

